<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>oceanblue-mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GuestRegisterController</display-name>
    <servlet-name>GuestRegisterController</servlet-name>
    <servlet-class>guest.controller.GuestRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestRegisterController</servlet-name>
    <url-pattern>/GuestRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestDAO</display-name>
    <servlet-name>GuestDAO</servlet-name>
    <servlet-class>guest.dao.GuestDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestDAO</servlet-name>
    <url-pattern>/GuestDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestBean</display-name>
    <servlet-name>GuestBean</servlet-name>
    <servlet-class>guest.model.GuestBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestBean</servlet-name>
    <url-pattern>/GuestBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestController</display-name>
    <servlet-name>GuestController</servlet-name>
    <servlet-class>controller.GuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestController</servlet-name>
    <url-pattern>/GuestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffController</display-name>
    <servlet-name>StaffController</servlet-name>
    <servlet-class>controller.StaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffController</servlet-name>
    <url-pattern>/StaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationController</display-name>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>controller.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/ReservationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomController</display-name>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>controller.RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/RoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceController</display-name>
    <servlet-name>ServiceController</servlet-name>
    <servlet-class>controller.ServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/ServiceController</url-pattern>
  </servlet-mapping>
</web-app>
